<%
  user = current_user
%>
<h3><%= user.code %></h3>
<%
  deliver = Delivery.new
%>
<%= fields_for deliver do |f| %>
  <%= f.label :vendor_id, "Vendor ID" %>
  <%= f.text_field :vendor_id %>
  <%= f.label :ref, "Reference number" %>
  <%= f.text_field :ref %>
  <%= f.label :size, "Size" %>
  <%= f.select :size, [['Small','S'],['Medium','M'],['Large','L']],{},"data-native-menu"=>"false" %>
  <%= f.label :weight, "Weight" %>
  <%= f.text_field :weight %>
  <%= f.label :received_on, "Received On" %>
  <%= f.date_field :received_on, "blackDays"=>[0,6] %>
  <%= f.label :case_no, "Case No" %>
  <%= f.text_field :case_no %>
  <%= f.label :temp, "Temperature" %>
  <%= f.text_field :temp %>
  <%= f.label :contaminate, "Contaminate" %>
  <%= f.text_field :contaminate %>
  <%= f.label :smell, "Smell" %>
  <%= f.text_field :smell %>
  <%= f.label :physical, "Physical" %>
  <%= f.text_field :physical %>
  <%= f.label :approved_kg, "Approved_kg" %>
  <%= f.text_field :approved_kg %>
  <%= f.label :rejected_kg, "rejected_kg" %>
  <%= f.text_field :rejected_kg %>
  <%= f.label :inspector, "Inspector" %>
  <%= f.text_field :inspector %>
  <%= f.label :physical, "Physical" %>
  <%= f.text_field :physical %>
  <%= f.label :remark, "Remark" %>
  <%= f.text_field :remark %>
  <%= f.label :picture, "Picture" %>
  <%= f.text_field :picture %>
  <% end %>
