%table{:id=>"pending-table", :width=>"100%"}
  %tr{:style=>"color:white; background-color:#97BF60;"}
    %th Kejmukda Co., Ltd. 
%table{:id=>"pending-table", :width=>"100%"}
  %tr{:style=>"color:white; background-color:#97BF60;"}
    %th Vendor
    %th Reference
    %th Size
    %th Weight
    %th Received on
    %th Staff    
    %th Lots No.        
  - @deliveries.each do |delivery|
    %tr
      %td= delivery.vendor_id
      %td= delivery.ref
      %td= delivery.size
      %td= delivery.weight
      %td= date_thai delivery.received_on, :date_only=>true
      %td= delivery.user.code
      %td= delivery.id
